<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Final Project</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/css/style.css">

</head>

<body style="background: #000;">
  <div class="login">
    <h1>Housing Prices Forecasting</h1>
`
    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="unemployed" placeholder="unemployed" required="required" />
      <input type="text" name="employed" placeholder="employed" required="required" />
      <input type="text" name="zip" placeholder="ZIP code" required="required" />
      <input type="text" name="sqft" placeholder="square feet" required="required" />
      <input type="text" name="price" placeholder="price" required="required" />
      <input type="text" name="bds" placeholder="number of bedrooms" required="required" />
      <input type="text" name="bath" placeholder="number of bathrooms" required="required" />
      <input type="text" name="incomeabove100k" placeholder="number of people with income above 100k" required="required" />
      <input type="text" name="incomebelow100k" placeholder="number of people with income below  100k" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict housing price</button>

    </form>

    <br>
    <br>
    {{ prediction_text }}

  </div>
</body>

</html>